services:
  server:
    container_name: smunity-server
    image: smunity/server:latest
    build: .
    environment:
      SPRING_PROFILE: prod
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - "8080:8080"
    networks: [ smunity ]
    restart: always

networks:
  smunity:
    external: true
