services:
  app:
    build: .
    container_name: smunity-server
    restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILE: dev
      DB_URL: jdbc:mysql://mysql:3306/smunity
      DB_USERNAME: root
      DB_PASSWORD: password
      REDIS_URL: redis
      REDIS_PORT: 6379
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./docker/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: smunity
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-p$password" ]
      interval: 3s
      timeout: 3s
      retries: 10

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  mysql-data:
