spring:
  profiles:
    active: ${SPRING_PROFILE:local}

  datasource:
    hikari:
      minimum-idle: 10
      maximum-pool-size: 40

  jpa:
    open-in-view: false
    properties:
      hibernate:
        default_batch_fetch_size: 1000

jwt:
  secret: ${JWT_SECRET:your-strong-random-secret-key-here}
  token:
    access-expiration-time: 1800 # 30 minutes
    refresh-expiration-time: 1209600 # 14 days

springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: alpha

management:
  endpoints:
    web:
      exposure:
        include: "info,prometheus"

  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true

server:
  tomcat:
    mbeanregistry:
      enabled: true
